.header{

  background-color: rgb(50, 167, 145);
  height: 50px; 
  display: flex;
  
}
.trybewarts-login {
  display: flex;
  height: 20px;
}

.header h1 {
  color: white;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#input-name, #input-lastname {
  max-width: 50%;
}

#frontend {
  order: 1;
}

#backend {
  order: 2;
}

#fullstack {
  order: 3;
}
