*{
  margin: 0px;
  padding: 0px;
}

.header{
  background-color: rgb(50, 167, 145);
  height: 50px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 90%;
}

.trybewarts-login {
  display: flex;
  height: 20px;
}

.header h1 {
  color: white;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
    height: 500px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#input-name, #input-lastname, #house, #input-email {
  max-width: 49%;
  width: 100%;
}

#frontend {
  order: 1;
}

#backend {
  order: 2;
}

#fullstack {
  order: 3;
}

#radio-buttons {
    display: flex;
}

footer {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: gray;
}

footer p {
  margin: auto;
  color: white;
  font-size: large;
}